<header class="">
    <div class="">
        <h1>Logo</h1>
        <nav class="" >
            <ul class="">
                <li class="">
                    <a href="/login">Inicio de Sesión</a>
                </li>
                <li class="">
                    <a href="/register">Registrarse</a>
                </li>
                <li class="">
                    <a href="/api/users/profile">Mi Perfil</a>
                </li>
            </ul>
        </nav>
    </div>
</header>